<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="utf-8">
	<title>Neighbourhood help</title>

</head>



<body>

	<section>

		<div class="container-xxl py-5 bg-dark hero-header mb-5">
			<div class="container my-5 py-5">
				<div class="row align-items-center g-5">
					<div class="col-lg-6 text-center text-lg-start">
						<h1 class="display-3 text-white animated slideInLeft">
							Our<br>Services
						</h1>
						<p class="text-white animated slideInLeft mb-4 pb-2">
							We have been providing services since 1990 and working in the market since 2008. With over 30 years of legacy,
							we are ready to serve you in just a few clicks.</p>
						<a th:href="@{/user/booking}"
							class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book for service</a>
					</div>
					<div class="col-lg-6 text-center text-lg-end overflow-hidden">
						<img class="img-fluid" src="img/round.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Service Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="row g-4">

					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="service-item rounded pt-3">
							<div class="p-4">
								<i class="fa fa-3x fa-plug-circle-check text-primary mb-4"></i>
								<h5>Applinces Repairing to workshop</h5>
								<p>Gas Geysers, Mixers, Stabilizers, Blenders, and Irons: all available for your needs</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="service-item rounded pt-3">
							<div class="p-4">
								<a th:href="@{/user/booking}">
									<i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
									<h5>Factories/Offices work</h5>
									<p>New/Old Electrical Wiring, New Machine Installation, Earthed Wiring, and all other Maintenance services.</p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="service-item rounded pt-3">
							<div class="p-4">
								<i class="fa fa-3x fa-headset text-primary mb-4"></i>
								<h5>24/7 Service</h5>
								<p>24/7 service support available to our premium clients for any assistance needed. </p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
						<a th:href="@{/user/booking}">
							<div class="service-item rounded pt-3">
								<div class="p-4">
									<i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
									<h5>Partner</h5>
									<p>Click here to register as a partner! You have the opportunity to earn money by
										selling your service.</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Service End -->


		<!-- About Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="row g-5 align-items-center">
					<div class="col-lg-6">
						<div class="row g-3">
							<div class="col-6 text-start">
								<img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
									src="img/about-1.jpg">
							</div>
							<div class="col-6 text-start">
								<a th:href="@{/user/Listofservices}"> <img class="img-fluid rounded w-75 wow zoomIn"
										data-to-delay="0.3s" src="img/about-2.jpg" style="margin-top: 25%;"></a>
							</div>
							<div class="col-6 text-end">
								<img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
									src="img/stabilizer-repairing.webp">
							</div>
							<div class="col-6 text-end">
								<img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
									src="img/Fan-repair.webp">
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
						<h1 class="mb-4">Welcome to Daily Service</h1>
						<p class="mb-4">Our services began in 1997, and we have been providing them ever since.</p>
						<p class="mb-4">Working in the market since 2008, we have a 25+ year legacy ready to serve
							you in just a few clicks.</p>
						<div class="row g-4 mb-4">
							<div class="col-sm-6">
								<div class="d-flex align-items-center border-start border-5 border-primary px-3">
									<h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">25
									</h1>
									<div class="ps-4">
										<p class="mb-0">Years of</p>
										<h6 class="text-uppercase mb-0">Experience</h6>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="d-flex align-items-center border-start border-5 border-primary px-3">
									<h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50
									</h1>
									<div class="ps-4">
										<p class="mb-0">Popular</p>
										<h6 class="text-uppercase mb-0">Master Mechenics</h6>
									</div>
								</div>
							</div>
						</div>
						<a class="btn btn-primary py-3 px-5 mt-2" href="/about">Read More</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Menu bar-->
		<div class="container">
			<div class="row g-4">
				<!-- Item 1 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2 custom-img" src="img/menu-1.jpg" alt="Switch/socket replacement">
						</a>
						<h5 class="text-center mb-1">Switch/socket replacement</h5>
						<span class="text-primary">₹ 415</span>
					</div>
				</div>
				
				<!-- Item 7 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2 custom-img" src="img/elec_1.webp" alt="Fan repair">
						</a>
						<h5 class="text-center mb-1">Mian Connection</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<!-- Item 8 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2 custom-img" src="img/elec_2.webp" alt="Fan repair">
						</a>
						<h5 class="text-center mb-1">Fan repair</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<!-- Item 9 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2 custom-img" src="img/elec_3.webp" alt="Connection">
						</a>
						<h5 class="text-center mb-1"> Home Connection</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<!-- Item 10 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2 custom-img" src="img/elec_4.webp" alt="Connection">
						</a>
						<h5 class="text-center mb-1">External Connection</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<!-- Item 11 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2 custom-img" src="img/menu-8.jpg" alt="Fan repair">
						</a>
						<h5 class="text-center mb-1">Fan repair</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<!-- Item 12 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2 custom-img " src="img/elec_5.jpg" alt="Device checking">
						</a>
						<h5 class="text-center mb-1">Device checking</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
			</div>
		</div>



		<!-- Team Start -->
		<div class="container-xxl pt-5 pb-3">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
					<h1 class="mb-5">Our partner</h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="team-item text-center rounded overflow-hidden">
							<div class="rounded-circle overflow-hidden m-4">
								<img class="img-fluid" src="img/Arun-siani.jpg" alt="">
							</div>
							<h5 class="mb-0">Arun Siani</h5>
							<small>Post- cofounder</small>
							<div class="d-flex justify-content-center mt-3">
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="team-item text-center rounded overflow-hidden">
							<div class="rounded-circle overflow-hidden m-4">
								<img class="img-fluid" src="img/TilakRajSiani.jpg" alt="">
							</div>
							<h5 class="mb-0">Tilak Raj Saini 30 years experience</h5>
							<small>Post-Founder Skill - electrician</small>
							<div class="d-flex justify-content-center mt-3">
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="team-item text-center rounded overflow-hidden">
							<div class="rounded-circle overflow-hidden m-4">
								<img class="img-fluid" src="img/Amarpal_Siani.jpg" alt="">
							</div>
							<h5 class="mb-0">Amarpal saini 25 years experience</h5>
							<small>GM (electrican partners)Skill- electrician</small>
							<div class="d-flex justify-content-center mt-3">
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="team-item text-center rounded overflow-hidden">
							<div class="rounded-circle overflow-hidden m-4">
								<img class="img-fluid" src="img/Arjun_Siani.jpg" alt="">
							</div>
							<h5 class="mb-0">Arjun saini years experience</h5>
							<small>Electrician</small>
							<div class="d-flex justify-content-center mt-3">
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
								<a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Team End -->
		<!-- Testimonial Start -->
		<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container">
				<div class="text-center">
					<h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
					<h1 class="mb-5">Our Clients Say!!!</h1>
				</div>
				<div class="owl-carousel testimonial-carousel">
					<div class="testimonial-item bg-transparent border rounded p-4">
						<i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
						<p>Handy Dailycare is one of the best service provider. All worker is skilled and very
							professional</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded-circle" src="img/Ankit_Kumar.jpg"
								style="width: 50px; height: 50px;">
							<div class="ps-3">
								<h5 class="mb-1">Ankit Kumar</h5>
								<small>Profession</small>
							</div>
						</div>
					</div>
					<div class="testimonial-item bg-transparent border rounded p-4">
						<i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
						<p>Handy Dailycare is a top-notch service provider you can rely on, with skilled and professional workers.</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded-circle" src="img/Akash_Dhangar.jpg"
								style="width: 50px; height: 50px;">
							<div class="ps-3">
								<h5 class="mb-1">Akash Dhangar</h5>
								<small>Profession</small>
							</div>
						</div>
					</div>
					<div class="testimonial-item bg-transparent border rounded p-4">
						<i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
						<p>Handy Dailycare stands out as a premier service provider, with a team of skilled and professional workers you can depend on.</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg"
								style="width: 50px; height: 50px;">
							<div class="ps-3">
								<h5 class="mb-1">Deepak Kumar</h5>
								<small>Profession</small>
							</div>
						</div>
					</div>
					<div class="testimonial-item bg-transparent border rounded p-4">
						<i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
						<p>With Handy Dailycare, you get one of the best service providers around, featuring a team of both skilled and professional workers.</p>
						<div class="d-flex align-items-center">
							<img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg"
								style="width: 50px; height: 50px;">
							<div class="ps-3">
								<h5 class="mb-1">Divyani Ranjan</h5>
								<small>Profession</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>

</html>