<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="utf-8">
<title>Restoran - Bootstrap Restaurant Template</title>

</head>

<body>
	<section>

		<div class="container-xxl py-5 bg-dark hero-header mb-5">
			<div class="container text-center my-5 pt-5 pb-4">
				<h1 class="display-3 text-white mb-3 animated slideInDown">List
					of work</h1>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center text-uppercase">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Pages</a></li>
						<li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
					</ol>
				</nav>
			</div>
		</div>
		</div>
		<!-- Navbar & Hero End -->


		<!-- Menu Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h5
						class="section-title ff-secondary text-center text-primary fw-normal">Home
						Services</h5>
					<h1 class="mb-5">Most recently used service</h1>
					<!--
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <i class="fa fa-plug fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">socket replacement</small>
                                    <h6 class="mt-n1 mb-0">socket replacement</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <i class="fa fa-fan fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Special Offer</small>
                                    <h6 class="mt-n1 mb-0"> On Fan repair</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <i class="fa fa-wifi fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Ceiling fan installation</small>
                                    <h6 class="mt-n1 mb-0">Most recent ordered</h6>
                                </div>
                            </a>
                        </li>
                    </ul>-->
					<div class="tab-content">
						<div id="tab-1" class="tab-pane fade show p-0 active">
							<div class="row g-4">
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-1.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<a href="booking"> <span>Switch/socket replacement</span> </a><span
													class="text-primary">315</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-2.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchbox installation</span> <span
													class="text-primary">201</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-3.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>AC switchbox installation</span> <span
													class="text-primary">215</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-4.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Fan repair</span> <span class="text-primary">214</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-5.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">321</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-6.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Modular retrofit smart switches</span> <span
													class="text-primary">225</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-7.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Converter retrofit Wi-Fi smart switches</span> <span
													class="text-primary">315</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-8.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Ceiling fan installation</span> <span
													class="text-primary">515</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-pane fade show p-0">
							<div class="row g-4">
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-1.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Fan uninstallation</span> <span class="text-primary">115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-2.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-3.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">215</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-4.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">185</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-5.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">205</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-6.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">199</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-7.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$399</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-8.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">299</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-3" class="tab-pane fade show p-0">
							<div class="row g-4">
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-1.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">552</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-2.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">261</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-3.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">259</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-4.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">199</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-5.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">189</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-6.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">189</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/elec_1.webp" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">235</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-8.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">248</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="tab-3" class="tab-pane fade show p-0">
					<div class="row g-4">
						<div class="col-lg-6">
							<div class="d-flex align-items-center">
								<img class="flex-shrink-0 img-fluid rounded"
									src="img/menu-1.jpg" alt="" style="width: 80px;">
								<div class="w-100 d-flex flex-column text-start ps-4">
									<h5 class="d-flex justify-content-between border-bottom pb-2">
										<span>Switchboard/switchbox repair</span> <span
											class="text-primary">$115</span>
									</h5>
									<small class="fst-italic">Ipsum ipsum clita erat amet
										dolor justo diam</small>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex align-items-center">
								<img class="flex-shrink-0 img-fluid rounded"
									src="img/menu-2.jpg" alt="" style="width: 80px;">
								<div class="w-100 d-flex flex-column text-start ps-4">
									<h5 class="d-flex justify-content-between border-bottom pb-2">
										<span>Switchboard/switchbox repair</span> <span
											class="text-primary">$115</span>
									</h5>
									<small class="fst-italic">Ipsum ipsum clita erat amet
										dolor justo diam</small>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex align-items-center">
								<img class="flex-shrink-0 img-fluid rounded"
									src="img/menu-3.jpg" alt="" style="width: 80px;">
								<div class="w-100 d-flex flex-column text-start ps-4">
									<h5 class="d-flex justify-content-between border-bottom pb-2">
										<span>Switchboard/switchbox repair</span> <span
											class="text-primary">$115</span>
									</h5>
									<small class="fst-italic">Ipsum ipsum clita erat amet
										dolor justo diam</small>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex align-items-center">
								<img class="flex-shrink-0 img-fluid rounded"
									src="img/menu-4.jpg" alt="" style="width: 80px;">
								<div class="w-100 d-flex flex-column text-start ps-4">
									<h5 class="d-flex justify-content-between border-bottom pb-2">
										<span>Switchboard/switchbox repair</span> <span
											class="text-primary">$115</span>
									</h5>
									<small class="fst-italic">Ipsum ipsum clita erat amet
										dolor justo diam</small>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex align-items-center">
								<img class="flex-shrink-0 img-fluid rounded"
									src="img/menu-5.jpg" alt="" style="width: 80px;">
								<div class="w-100 d-flex flex-column text-start ps-4">
									<h5 class="d-flex justify-content-between border-bottom pb-2">
										<span>Switchboard/switchbox repair</span> <span
											class="text-primary">$115</span>
									</h5>
									<small class="fst-italic">Ipsum ipsum clita erat amet
										dolor justo diam</small>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex align-items-center">
								<img class="flex-shrink-0 img-fluid rounded"
									src="img/menu-6.jpg" alt="" style="width: 80px;">
								<div class="w-100 d-flex flex-column text-start ps-4">
									<h5 class="d-flex justify-content-between border-bottom pb-2">
										<span>Switchboard/switchbox repair</span> <span
											class="text-primary">$115</span>
									</h5>
									<small class="fst-italic">Ipsum ipsum clita erat amet
										dolor justo diam</small>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex align-items-center">
								<img class="flex-shrink-0 img-fluid rounded"
									src="img/menu-7.jpg" alt="" style="width: 80px;">
								<div class="w-100 d-flex flex-column text-start ps-4">
									<h5 class="d-flex justify-content-between border-bottom pb-2">
										<span>Switchboard/switchbox repair</span> <span
											class="text-primary">$115</span>
									</h5>
									<small class="fst-italic">Ipsum ipsum clita erat amet
										dolor justo diam</small>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex align-items-center">
								<img class="flex-shrink-0 img-fluid rounded"
									src="img/menu-8.jpg" alt="" style="width: 80px;">
								<div class="w-100 d-flex flex-column text-start ps-4">
									<h5 class="d-flex justify-content-between border-bottom pb-2">
										<span>Switchboard/switchbox repair</span> <span
											class="text-primary">$115</span>
									</h5>
									<small class="fst-italic">Ipsum ipsum clita erat amet
										dolor justo diam</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<!-- Menu End -->

		<!-- Menu Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h5
						class="section-title ff-secondary text-center text-primary fw-normal">workshop
						work</h5>
					<!--<h1 class="mb-5">Most recently used  service</h1> -->
				</div>
				<div class="tab-class text-center wow fadeInUp"
					data-wow-delay="0.1s">
					<ul
						class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
						<li class="nav-item"><a
							class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active"
							data-bs-toggle="pill" href="#tab-1"> <i
								class="fa fa-plug fa-2x text-primary"></i>
								<div class="ps-3">
									<small class="text-body">socket replacement</small>
									<h6 class="mt-n1 mb-0">socket replacement</h6>
								</div>
						</a></li>
						<li class="nav-item"><a
							class="d-flex align-items-center text-start mx-3 pb-3"
							data-bs-toggle="pill" href="#tab-2"> <i
								class="fa fa-fan fa-2x text-primary"></i>
								<div class="ps-3">
									<small class="text-body">Special Offer</small>
									<h6 class="mt-n1 mb-0">On Fan repair</h6>
								</div>
						</a></li>
						<li class="nav-item"><a
							class="d-flex align-items-center text-start mx-3 me-0 pb-3"
							data-bs-toggle="pill" href="#tab-3"> <i
								class="fa fa-wifi fa-2x text-primary"></i>
								<div class="ps-3">
									<small class="text-body">Ceiling fan installation</small>
									<h6 class="mt-n1 mb-0">Most recent ordered</h6>
								</div>
						</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane fade show p-0 active">
							<div class="row g-4">
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-1.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<a href="/booking"> <span>CFL/LED/Light Tv
														install</span> <span class="text-primary"></span>
											</h5>
											<small class="fst-italic">we have best experinced and
												Quality oriented electration whch solve any problem in few
												minutes</small></a>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/lappy.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<a href="/booking"> <span>Celing Fan
														installation</span></a> <span class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">In few minutes our team
												will install celling fan</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/invartar.jpeg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<a href=/booking> <span>invertor-battery set
														install</span></a> <span class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Thease problem is very
												complicated our team solve thease kinds of problem in few
												minutes</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-4.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<a href=/booking> <span>Stablizer install</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">No Need to Warried about
												these kinds of issue neighborhood team will fix thease kinds
												of issue</small></a>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-5.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<a href=/booking> <span>Home Wiring/Underground
														Wiring</span></a> <span class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">we have best electration
												which capable to wiring home and underground wiring</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-6.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<a href=/booking> <span>AC/DC generator
														installation</span></a> <span class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">We Are fix all kinds of
												generator weather That is Ac / Dc</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/invartor.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Factory machinary installation</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-8.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Automatic manually machine</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-pane fade show p-0">
							<div class="row g-4">
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-1.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Stablizer repair</span> <span class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-2.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Home wiering under-ground wiering </span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-3.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>current flactuation</span> <span class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-4.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-5.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-6.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-7.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-8.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-3" class="tab-pane fade show p-0">
							<div class="row g-4">
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-1.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-2.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-3.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-4.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-5.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-6.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-7.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="d-flex align-items-center">
										<img class="flex-shrink-0 img-fluid rounded"
											src="img/menu-8.jpg" alt="" style="width: 80px;">
										<div class="w-100 d-flex flex-column text-start ps-4">
											<h5 class="d-flex justify-content-between border-bottom pb-2">
												<span>Switchboard/switchbox repair</span> <span
													class="text-primary">$115</span>
											</h5>
											<small class="fst-italic">Ipsum ipsum clita erat amet
												dolor justo diam</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>

</body>

</html>