<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="utf-8">
<title>Restoran - Bootstrap Restaurant Template</title>

</head>

<body>
	<section>

		<div class="container-xxl py-5 bg-dark hero-header mb-5">
			<div class="container text-center my-5 pt-5 pb-4">
				<h1 class="display-3 text-white mb-3 animated slideInDown">List
					of work</h1>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center text-uppercase">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Pages</a></li>
						<li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
					</ol>
				</nav>
			</div>
		</div>
		</div>
		<!-- Navbar & Hero End -->

		<div class="container">
<!--			<h5 class="section-title ff-secondary text-center text-primary fw-normal mb-4">Home Services</h5>-->
			<h1 class="mb-5 text-center">Services Recently Accessed by Customers</h1>
			<div class="row g-4">
				<!-- Item 1 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2" src="img/menu-1.jpg" alt="Switch/socket replacement" style="max-width: 100%; height: auto;">
						</a>
						<h5 class="text-center mb-1">Switch/socket replacement</h5>
						<span class="text-primary">₹ 415</span>
					</div>
				</div>
				<!-- Item 2 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2" src="img/menu-2.jpg" alt="Switchbox installation" style="max-width: 100%; height: auto;">
						</a>
						<h5 class="text-center mb-1">Switchbox installation</h5>
						<span class="text-primary">₹ 201</span>
					</div>
				</div>
				<!-- Item 3 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2" src="img/menu-3.jpg" alt="AC switchbox installation" style="max-width: 100%; height: auto;">
						</a>
						<h5 class="text-center mb-1">AC switchbox installation</h5>
						<span class="text-primary">₹ 215</span>
					</div>
				</div>
				<!-- Item 4 -->
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2" src="img/menu-4.jpg" alt="Fan repair" style="max-width: 100%; height: auto;">
						</a>
						<h5 class="text-center mb-1">Fan repair</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2" src="img/menu-5.jpg" alt="Fan repair" style="max-width: 100%; height: auto;">
						</a>
						<h5 class="text-center mb-1">Fan repair</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2" src="img/menu-6.jpg" alt="Fan repair" style="max-width: 100%; height: auto;">
						</a>
						<h5 class="text-center mb-1">Fan repair</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2" src="img/menu-7.jpg" alt="Fan repair" style="max-width: 100%; height: auto;">
						</a>
						<h5 class="text-center mb-1">Fan repair</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<div class="d-flex flex-column align-items-center">
						<a href="/user/booking">
							<img class="img-fluid rounded mb-2" src="img/menu-8.jpg" alt="Fan repair" style="max-width: 100%; height: auto;">
						</a>
						<h5 class="text-center mb-1">Fan repair</h5>
						<span class="text-primary">₹ 214</span>
					</div>
				</div>
				<!-- Add more items as needed -->
			</div>
		</div>
		<!-- Menu end -->
	</section>
</body>
</html>