<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
	
		<div class="container-xxl position-relative p-0">
           

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">All User</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="/">All User</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page"><a href="/admin/showPartner">All Partner</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page"><a href="#">All Order</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        
		<div class="container-fluid p-2">
			<!--<th:block th:if="${session.msg}">
				<p class="text-center text-success" th:text="${session.msg}"></p>
				<th:block th:text="${@userServiceImpl.removSessionMessage}"></th:block>
			</th:block>-->
			<div class="row">
				<div th:each="n:${ListOfPartner}" class="col-md-10 offset-md-1 mt-2">
					<div class="card shadow-sm p-1 mb-2 bg-body rounded">
						<div class="card-body">
							<div class="text-center">
								<img alt="" src="">
							</div>
							<p class="fw-bold">Name: [[${n.name}]]</p>
							<p class="fw-bold">Email: [[${n.email}]]</p>
							<p class="fw-bold">Phone: [[${n.phone}]]</p>
							<p class="fw-bold">Phone: [[${n.altPhone}]]</p>
							<p class="fw-bold">Occupation: [[${n.occupation}]]</p>
							<p class="fw-bold">Experience: [[${n.experience}]]</p>
							<p class="fw-bold">Range: [[${n.range}]]</p>
							<p class="fw-bold">District: [[${n.district}]]</p>
							
							<div class="text-center">
								<a th:href="@{'editPartner/'+${n.id}}" class="btn btn-primary btn-sm">Edit</a>
								 <a	th:href="@{'deletePartner/'+${n.id}}" class="btn btn-primary btn-sm">Delete</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-1 text-right p-3">
				</div>
				<div class="col-md-5">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>

</body>
</html>