<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <style>
        @media only screen and (max-width: 768px) {
            img {
                width: 100%; 
                height: auto;
            }
        }
    </style>
</head>
<body>
    <section>
        <img style="max-width: 100%; height: auto;" alt="" src="img/Thank.png">
    </section>
</body>
</html>
